<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Menu" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="app.Driver" />
    <module name="esercitazione4" />
    <option name="PROGRAM_PARAMETERS" value="tests/menu.toy" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>